<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Menu</title>
    <link rel="stylesheet" href="menu.css">
    <script src="../../index.js" defer></script>
</head>

<body>
    <div class="first_block">
        <header class="header">
            <div class="nav_container">
                <a href="/"><img
                        src="//res2.weblium.site/res/5cb43e8114a01200248b0171/5cbeaf57292c62002497e563_optimized.webp"
                        alt="logo" class="header_logo"></a>
                <ul class="navbar">
                    <a href="./menu.html">
                        <li class="nav_link">Menu</li>
                    </a>
                    <a href="#">
                        <li class="nav_link">Our story</li>
                    </a>
                    <a href="#">
                        <li class="nav_link">Our breads</li>
                    </a>
                    <a href="#">
                        <li class="nav_link">Catering</li>
                    </a>
                    <a href="#">
                        <li class="nav_link">Recipes</li>
                    </a>
                    <a href="#">
                        <li class="nav_link">Careers</li>
                    </a>
                    <a href="#">
                        <li class="nav_link">Locations</li>
                    </a>
                    <a href="#">
                        <li class="nav_link">Contact us</li>
                    </a>
                </ul>
            </div>
        </header>
    </div>

    <div class="fourth_block">
        <div class="fourth_container">
            <div class="menu_container">
                <h1>Our Menu</h1>
                <p class="subtitle">Take a look at our menu and choose your meal or order it right from our bakery</p>
                <div class="menu_categories">
                    <h3 class="category" data-active="true">Breads</h3>
                    <h3 class="category" data-active="false">Breakfast</h3>
                    <h3 class="category" data-active="false">Lunch & Dinner</h3>
                </div>
                <div class="react_container">
                    <div class="menu">
                        <div class="breads">
                            <div class="food">
                                <div class="flex_title_and_price">
                                    <h3 class="food_title">Carrot Rye</h3>
                                    <p class="food_price">$4.80</p>
                                </div>
                                <p class="food_desc">Seeded rye bread covered with seeds, made with a grated carrot
                                    which
                                    keeps the bread deliciously moist.</p>
                            </div>
                            <div class="food">
                                <div class="flex_title_and_price">
                                    <h3 class="food_title">Seeded Rye</h3>
                                    <p class="food_price">$4.70</p>
                                </div>
                                <p class="food_desc">Rye bread with 90% seeds and covered with cornflakes.</p>
                            </div>
                        </div>
                        <div class="breakfasts">
                            <div class="food">
                                <div class="flex_title_and_price">
                                    <h3 class="food_title">Carrot Rye</h3>
                                    <p class="food_price">$4.80</p>
                                </div>
                                <p class="food_desc">Seeded rye bread covered with seeds, made with a grated carrot
                                    which
                                    keeps the bread deliciously moist.</p>
                            </div>
                            <div class="food">
                                <div class="flex_title_and_price">
                                    <h3 class="food_title">Seeded Rye</h3>
                                    <p class="food_price">$4.70</p>
                                </div>
                                <p class="food_desc">Rye bread with 90% seeds and covered with cornflakes.</p>
                            </div>
                        </div>
                        <div class="lunches_and_dinners">
                            <div class="food">
                                <div class="flex_title_and_price">
                                    <h3 class="food_title">Carrot Rye</h3>
                                    <p class="food_price">$4.80</p>
                                </div>
                                <p class="food_desc">Seeded rye bread covered with seeds, made with a grated carrot
                                    which
                                    keeps the bread deliciously moist.</p>
                            </div>
                            <div class="food">
                                <div class="flex_title_and_price">
                                    <h3 class="food_title">Seeded Rye</h3>
                                    <p class="food_price">$4.70</p>
                                </div>
                                <p class="food_desc">Rye bread with 90% seeds and covered with cornflakes.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="download">
                    <span class="download_menu">Download Menu</span>
                </div>

            </div>
        </div>
    </div>

    <div class="downbar">
        <div class="downbar_container">
            <div class="job_time">
                <a href="/"><img
                        src="//res2.weblium.site/res/5cb43e8114a01200248b0171/5cbeaf57292c62002497e563_optimized.webp"
                        alt="logo" class="downbar_logo" width="260"></a>
                <span>Mon-Sat: 8am-6pm</span>
                <span>Sun: 8am-4pm</span>
            </div>
            <div class="links1">
                <a href="./menu.html">Menu</a>
                <a href="#">Our story</a>
                <a href="#">Our breads</a>
                <a href="#">Catering</a>
            </div>
            <div class="links2">
                <a href="#">Recipes</a>
                <a href="#">Careers</a>
                <a href="#">Locations</a>
            </div>
            <div class="follow_us">
                <h3>Follow Us</h3>
            </div>
        </div>

        <hr>

        <div class="end">
            <span>© Created by</span>
            <span>All rights Reserved</span>
        </div>

    </div>

</body>

</html>